    {% extends "splunkdj:base_with_account_bar.html" %}

    {% load splunkmvc %}

    {% block title %}Word Tree{% endblock title %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}{{app_name}}/custom.css" />
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}splunkjs/css/dashboard.css" />
        <style>        
            .main-dashboard {
                padding: 15px;
            }
            .fieldset {
                border-style: double;
                border-width: 1px;
                border-color: darkgray;
                padding: inherit;
                border-top-left-radius:4px;
                border-top-right-radius:4px;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            .search-area {
                border-style: double;
                border-width: 1px;
                border-color: darkgray;
                padding: inherit;
                border-top-left-radius:4px;
                border-top-right-radius:4px;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            
            .draw-button{
                height: 48px;
                border-top-left-radius:4px;
                border-top-right-radius:4px;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            #ta_text{
                width: 99%;
                height: 100px;
            }
        </style>
    {% endblock css %}

    {% block content %}
        {% csrf_token %}
        <div class="main-dashboard">
            <h2>Word Tree View</h2>
            <p>This view is made by google word tree api.</p>
            <br/>
            <div class="fieldset">
                <div class="input input-dropdown" id="iCategory">
                    <label>Text / Query</label>                
                </div>
                <div class="input input-dropdown" >
                    <label>Root Word</label>
                    {% textinput id="iWord" default="i"%}
                </div>
                <div class="input input-dropdown" id="iType">
                    <label>Type</label>                
                </div>
                <div class="input input-dropdown" >
                    <label>Word Tree Height</label>
                    {% textinput id="iHeight" default="650" %}                
                </div>
                <div class="input">
                    <input class="draw-button" id="bn_draw" type="button" value="Draw Word Tree"></input>
                </div>
            </div>
            <div></br></br></div>
            <div>
                <div id="Greeting"><h2>Welcome to Word Tree!</h2></div>
                <div id="Loading"></div>
                <div id="wordtree_area">
                    <div id="wordtree_basic"></div>
                </div>
            </div>
            <div></br></br></div>
            <div class="search-area" id="search-area" hidden>
                <div>&#9888; If you want to make word tree using splunk query, you should change column name to "Data".</div>
                <div><br/></div>
                <div>{% searchbar id="wordtree-searchbar" managerid="wordtree-search" %}</div>
                <div>{% searchcontrols id="wordtree-searchcontrols" managerid="wordtree-search" %}</div>
                <div>{% table id="search-table" managerid="wordtree-search" wrap=True drilldown="none" %}</div>
            </div>
            <div class="search-area" id="content-area">
                <div>&#9888; If you want to make word tree, you should paste contents in below text box.</div>
                <div><br/></div>
                <textarea id="ta_text"></textarea>
            </div>
        </div>

    {% endblock content%}
    {% block managers %}
        {% searchmanager id="wordtree-search"
            search=''
            autostart=False
            cache=True
        %}
    {% endblock managers %}
    {% block js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{{STATIC_URL}}{{app_name}}/spin.js"></script>
    <script type="text/javascript">

        var rsc = init();

        require(["underscore", "jquery", "Spinner"], function(_, $, Spinner){
            
            require([
                //"underscore", 
                "splunkjs/mvc/simpleform/input/dropdown",
                "splunkjs/ready!",
                ], function( 
                //    _, 
                    DropdownInput,
                    mvc) 
            {
                initializeElements();
                function initializeElements(){

                    var mysearchbar = splunkjs.mvc.Components.getInstance("wordtree-searchbar");
                    var wordtree_search = splunkjs.mvc.Components.getInstance('wordtree-search');
                    var iWord = splunkjs.mvc.Components.getInstance("iWord");
                    var iHeight = splunkjs.mvc.Components.getInstance('iHeight');
                    var iCategory = new DropdownInput({
                        "id": "iCategory",
                        "choices": [
                            {"value": "Text", "label": "Text"},
                            {"value": "Query", "label": "Query"}
                        ],
                        "selectFirstChoice": true,
                        "default": "Text",
                        "el": $('#iCategory')
                    }, {tokens: true}).render();
                    var iType = new DropdownInput({
                        "id": "iType",
                        "choices": [
                            {"value": "suffix", "label": "suffix"},
                            {"value": "prefix", "label": "prefix"},
                            {"value": "double", "label": "double"},
                        ],
                        "selectFirstChoice": true,
                        "default": "suffix",
                        "el": $('#iType')
                    }, {tokens: true}).render();

                    iWord.on("change", generateWordTree);
                    iHeight.on("change", generateWordTree);
                    iType.on("change", generateWordTree);
                    mysearchbar.on("change", generateWordTree);
                    iCategory.on("change", function(val){
                        if(val === "Text"){
                            $("#search-area").hide();
                            $("#content-area").show();
                        }
                        else if(val === "Query"){
                            $("#search-area").show();
                            $("#content-area").hide();
                        }
                    });

                    initSpinner();
                    $('#search-area').hide();

                    mysearchbar.timerange.on("change", function() {
                        wordtree_search.settings.set(mysearchbar.timerange.val()); 
                    });

                    wordtree_search.on('search:failed', function(properties) {
                        //document.getElementById('Loading').innerText = "Search Failed..";
                    });
                    wordtree_search.on('search:progress', function(properties) {
                        //document.getElementById('Loading').innerText = "Word Tree Loading..";
                    });
                    wordtree_search.on('search:done', function(properties) {
                        //document.getElementById('Loading').innerText = "";
                        if(properties.content.eventCount == 0){
                            window.spinner.stop();
                        }
                    });

                    var data = wordtree_search.data('results', {
                        output_mode: 'json_rows',
                        count: 0 // get all results
                    });

                    data.on('data', formatResults);
                    function formatResults(results) {
                        if (!data.hasData()) {
                            return;
                        }
                        // Format Splunk data for Sankey
                        collection = results.collection().toJSON();
                        rsc.dataArray = _.pluck(collection, "Data")
                        var tmp = [];
                        _.each(rsc.dataArray, function(d, i){
                            if(d != null){
                                tmp[tmp.length] = new Array(rsc.dataArray[i]);
                            }
                        });
                        rsc.dataArray = tmp;
                        settingParams();
                        drawChart();
                    };

                    $('#bn_draw').click(function(){ 
                        generateWordTree(); 
                    })
                }

                function generateWordTree(){
                    if(!checkParams()){
                        return;
                    }
                    //$('#wordtree_basic').hide();
                    var iCategory = splunkjs.mvc.Components.getInstance("iCategory");
                    if(iCategory.val() === "Text"){

                        var queryArr = $("#ta_text").val().split('\n');
                        var tmp = [['Data']];
                        _.each(queryArr, function(d, i){
                            if(d != null){
                                tmp[tmp.length] = new Array(queryArr[i]);
                            }
                        });
                        rsc.dataArray = tmp;

                        settingParams();
                        window.spinner.spin(document.getElementById('Loading'));
                        drawChart();
                    }
                    else{
                        var wordtree_search = splunkjs.mvc.Components.getInstance('wordtree-search');
                        var mysearchbar = splunkjs.mvc.Components.getInstance("wordtree-searchbar");
                        wordtree_search.settings.unset("search");
                        wordtree_search.settings.set("search", mysearchbar.val());

                        settingParams();
                        window.spinner.spin(document.getElementById('Loading'));
                        wordtree_search.startSearch();
                    }
                }

                function checkParams(){
                    var iCategory = splunkjs.mvc.Components.getInstance("iCategory");
                    if(iCategory.val() === "Text"){
                        if($("#ta_text").val() === ""){
                            return false;
                        }
                    }
                    else{
                        var mysearchbar = splunkjs.mvc.Components.getInstance("wordtree-searchbar");
                        if(mysearchbar.val() === ""){
                            return false;
                        }
                    }

                    if(splunkjs.mvc.Components.getInstance("iWord").val() === undefined ||
                        splunkjs.mvc.Components.getInstance("iHeight").val() === undefined){
                        return false;
                    }
                    return true;
                }

                function settingParams(){
                    rsc.chartOptions.wordtree.word = splunkjs.mvc.Components.getInstance("iWord").val();
                    rsc.chartOptions.wordtree.type = splunkjs.mvc.Components.getInstance("iType").val();
                    rsc.chartOptions.height = splunkjs.mvc.Components.getInstance("iHeight").val();
                }
            });


            function initSpinner(){
                var opts = {
                        lines: 13 // The number of lines to draw
                        , length: 28 // The length of each line
                        , width: 14 // The line thickness
                        , radius: 42 // The radius of the inner circle
                        , scale: 1 // Scales overall size of the spinner
                        , corners: 1 // Corner roundness (0..1)
                        , color: '#000' // #rgb or #rrggbb or array of colors
                        , opacity: 0.25 // Opacity of the lines
                        , rotate: 0 // The rotation offset
                        , direction: 1 // 1: clockwise, -1: counterclockwise
                        , speed: 1 // Rounds per second
                        , trail: 60 // Afterglow percentage
                        , fps: 20 // Frames per second when using setTimeout() as a fallback for CSS
                        , zIndex: 2e9 // The z-index (defaults to 2000000000)
                        , className: 'spinner' // The CSS class to assign to the spinner
                        , top: '50%' // Top position relative to parent
                        , left: '50%' // Left position relative to parent
                        , shadow: false // Whether to render a shadow
                        , hwaccel: false // Whether to use hardware acceleration
                        , position: 'absolute' // Element positioning
                }

                window.spinner = new Spinner(opts);
            }
        });

        function init(){
            var rsc = {
                chart: null,
                chartOptions: null,
                chartData: null,
                dataArray: null,
                searchStatus: false
            }

            google.load("visualization", "1.1", {packages:["wordtree"]});
            rsc.chartOptions = {
                height: 650,
                wordtree: {
                    format: 'implicit',
                    type: 'double',
                    word: 'I'
                }
            }

            return rsc;
        }
        
        function drawChart() {

            if($('#Greeting').length === 1){
                $('#Greeting').remove();  
            }

            rsc.chartData = google.visualization.arrayToDataTable(rsc.dataArray);
            rsc.chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));
            google.visualization.events.addListener(rsc.chart, 'ready', function(){
                window.spinner.stop();
            });
            rsc.chart.draw(rsc.chartData, rsc.chartOptions);
        }

    </script>
    {% endblock js %}